@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;


  .left {
    flex: 0.3;
    overflow: hidden;
    background-color: white;

    h1 {
        font-style: 500px;
        text-align: center;

    }
    ul{
        margin:10px;
        list-style: none;
        text-align: center;

        li{
            font-size: 25px;
            padding: 50px;
            border-radius: 100px;
            cursor: pointer;
            margin-top: 50px;

            &.active{
            background-color: $mainColor;
            color: white;
            text-align: center;
            }
        }
    }
    
  }
  .right {
    flex: 1;
    position: relative;
    background-color: lightblue;
      h1 {
        font-size: 60px;
        margin: 10px 0;
        text-align: center;
      }

      .imgContainer {

        background-color: lightblue;
        display: flex;
        align-items: flex-end;
        
  
  
        img {
          height: 90%;
  
        }
      }
    

    }
    
}