
.works {
    background-color: lightcoral;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carousel {
        display: flex;
        text-align: center;
        height: 80%;
        width: 80%;
        background-color: lightblue;
        align-items: center;
        border-radius: 25%;
        .item{
            .title{
                h1{
                    a{
                        color: black;
                    }
                }
            }
            .description{
                margin-left: 25%;
                margin-right: 25%;
            }
            .technologies{
                h4{
                    display: inline;
                }
                p{
                    display: inline;
                    font-size: 20px;
                }
            }
        }
    }
}