
.works {
    background-color: lightcoral;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel {
        display: flex;
        text-align: center;
        height: 80%;
        width: 80%;
        background-color: lightblue;
        align-items: center;
        border-radius: 25%;

        
        .item{
            
            .title{
            }
            .description{
                margin-left: 25%;
                margin-right: 25%;
            }
                
                .technologies{
                    h4{
                        display: inline;
                    }
                    p{
                        display: inline;
                        font-size: 20px;
                    }
                }

        }
    }
    .downArrow{
        position: relative;
        text-align: right;
        align-items: right;
        display: flex;
        justify-content: right;
        left: 21%;
        top:60px;
    a {


        img {
          width: 30px;
          animation: arrowBlink 2s infinite;
          
        }
  
        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }
        }
      }
    }
}