
.works {
    background-color: lightcoral;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel {
        display: flex;
        text-align: center;
        height: 80%;
        width: 80%;
        background-color: lightblue;
        align-items: center;
        border-radius: 25%;

        
        .item{
            
            .title{
            }
            .description{
                margin-left: 25%;
                margin-right: 25%;
            }
            .test{
                display: flex;
                flex-direction: row;
                justify-content: center;


                


                .stack{
                    
                }

                .features{

                }
                
            }
        }
    }
}