@import "../../global.scss";
.works{
    overflow: hidden;
    position: relative;

    .Slider{
        height: 90%;
        width: 90%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 15%;

        .emulatorFreighter{
            color: white;
            font-size: 100px;
            overflow: hidden;
            text-align: left;
            display: flex;
            vertical-align: top;
            position: relative;
        }

        .openCuisine{
            color: white;
            font-size: 100px;
            overflow: hidden;
            text-align: left;
            display: flex;
            vertical-align: top;
            position: relative;
        }

        .mastermind{
            color: white;
            font-size: 100px;
            overflow: hidden;
            text-align: left;
            display: flex;
            vertical-align: top;
            position: relative;
        }

        .portfolio{
            color: white;
            font-size: 100px;
            overflow: hidden;
            text-align: left;
            display: flex;
            vertical-align: top;
            position: relative;
        }
    }
}