
.Works {
    background-color: lightcoral;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;



    h1{
    }

    .carousel {
        display: flex;
        text-align: center;
        height: 80%;
        width: 80%;
        background-color: lightblue;
        align-items: center;
        border-radius: 25%;
        
        .emulatorFreighter{
            .image{

                height: 35%;
                width: 35%;

                h3{

                }
            }

            .title{
                padding-top: 100px;
            }

            .description{
            }
        }
        .openCuisine{
            .image{

                height: 35%;
                width: 35%;

                h3{

                }
            }

            .title{
                padding-top: 100px;
            }

            .description{
            }
        }
        .mastermind{
            .image{

                height: 35%;
                width: 35%;

                h3{

                }
            }

            .title{
                padding-top: 100px;
            }

            .description{
            }
        }
        .portfolio{
            .image{

                height: 35%;
                width: 35%;

                h3{

                }
            }

            .title{
                padding-top: 100px;
            }

            .description{
            }
        }
    }
}